<!doctype html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: head(title='Registro de Usuario')"></head>
<body>
<header th:replace="fragments/header"></header>

<main class="container py-5">
    <h2 class="mb-4">Registro de nuevo usuario</h2>

    <form class="row g-3" th:action="@{/new-user}" th:object="${user}" method="post">

        <div class="col-md-4">
            <label for="username" class="form-label">Usuario</label>
            <input type="text" class="form-control" id="username" th:field="*{username}" required>
        </div>

        <div class="col-md-4">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="password" th:field="*{password}" required>
        </div>

        <div class="col-md-4">
            <label for="email" class="form-label">E-mail</label>
            <input type="email" class="form-control" id="email" th:field="*{email}" required>
        </div>

        <div class="col-12 mt-4">
            <button class="btn btn-primary" type="submit">Enviar registro</button>
        </div>
    </form>
</main>

<footer th:replace="fragments/footer"></footer>
</body>
</html>